* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.form {
    padding: 0 20px;
    line-height: 1.8;
}

.form .label-form {
    display: block;
}

.form .button-group {
    margin-top: calc(20px - 1.8px);
}

.form .button-group .btn-form {
    padding: 18px 10px;
    background-color: #5e81d1;
    color: white;
    border: none;
    cursor: pointer;
}