* {
    box-sizing: border-box;
}

body {
    color: var(--text-gray);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
    --text-gray: #333;
    --bg-cabecera: #5e81d1;
    --bg-secundario: #ff8d27;
    --bg-hover: #c16b1e;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

hr {
    margin: 0;
}

.container-list,
.hr,
.container-result {
    background-color: var(--bg-secundario);
    padding: 0 15px;
}

.container-list .list .list-item {
    display: flex;
}

.container-list .list .list-item:hover {
    color: white;
    background-color: var(--bg-hover);
}

.container-list .list .list-item .item {
    flex: 2;
}

.container-list .list .list-item .item-hecho {
    text-decoration: line-through;
}

.container-list .list .list-item .icon-x {
    margin-left: 5px;
}

.container-result {
    display: flex;
    flex-direction: column;
}

.container-result .result {
    text-align: right;
}

.form {
    padding: 0 20px;
    line-height: 1.8;
}

.form .label-form {
    display: block;
}

.form .input-form {
    padding: 10px 5px;
    border: none;
}

.form .button-group {
    margin-top: calc(20px - 1.8px);
}

.form .button-group .btn-form {
    padding: 15px 10px;
    background-color: var(--bg-cabecera);
    color: white;
    border: none;
    cursor: pointer;
}